.btn-group-primary{
    width: 100%;
}
.my-content{
    min-height: 100px !important;
}
.card-user .author{
    margin-top: -100px !important;
}
.main-panel{
    width: calc(100% - 235px) !important;
}
.main-panel > .content{
    padding-top:10px !important;
    min-height: calc(100vh - 111px) !important; 
}
.sidebar{
    width: 235px !important;
}
.sidebar-wrapper{
    width: 235px !important;
}
.sidebar .logo{
    padding: 5px 30px !important;
}
.CodeMirror{
    height: auto !important;
}
