main {
    margin-bottom: 20px;
    margin-top: 20px;
}

#query-form {
    margin-bottom: 20px;
}

#query-result-table {
    width: 100%;
}

body.wait *, body.wait {
    cursor: progress !important;
}

.CodeMirror {
    height: auto;
}
